<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yyy.mapper.JoinMapper" >
  <resultMap id="BaseResultMap" type="cn.yyy.pojo.Join" >
    <id column="studentid" property="studentid" jdbcType="INTEGER" />
    <id column="courseid" property="courseid" jdbcType="INTEGER" />
    <result column="jointime" property="jointime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    studentid, courseid, jointime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.yyy.pojo.JoinExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from join
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.yyy.pojo.JoinKey" >
    select 
    <include refid="Base_Column_List" />
    from join
    where studentid = #{studentid,jdbcType=INTEGER}
      and courseid = #{courseid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.yyy.pojo.JoinKey" >
    delete from join
    where studentid = #{studentid,jdbcType=INTEGER}
      and courseid = #{courseid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.yyy.pojo.JoinExample" >
    delete from join
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.yyy.pojo.Join" >
    insert into join (studentid, courseid, jointime
      )
    values (#{studentid,jdbcType=INTEGER}, #{courseid,jdbcType=INTEGER}, #{jointime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.yyy.pojo.Join" >
    insert into join
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentid != null" >
        studentid,
      </if>
      <if test="courseid != null" >
        courseid,
      </if>
      <if test="jointime != null" >
        jointime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentid != null" >
        #{studentid,jdbcType=INTEGER},
      </if>
      <if test="courseid != null" >
        #{courseid,jdbcType=INTEGER},
      </if>
      <if test="jointime != null" >
        #{jointime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.yyy.pojo.JoinExample" resultType="java.lang.Integer" >
    select count(*) from join
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update join
    <set >
      <if test="record.studentid != null" >
        studentid = #{record.studentid,jdbcType=INTEGER},
      </if>
      <if test="record.courseid != null" >
        courseid = #{record.courseid,jdbcType=INTEGER},
      </if>
      <if test="record.jointime != null" >
        jointime = #{record.jointime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update join
    set studentid = #{record.studentid,jdbcType=INTEGER},
      courseid = #{record.courseid,jdbcType=INTEGER},
      jointime = #{record.jointime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yyy.pojo.Join" >
    update join
    <set >
      <if test="jointime != null" >
        jointime = #{jointime,jdbcType=DATE},
      </if>
    </set>
    where studentid = #{studentid,jdbcType=INTEGER}
      and courseid = #{courseid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yyy.pojo.Join" >
    update join
    set jointime = #{jointime,jdbcType=DATE}
    where studentid = #{studentid,jdbcType=INTEGER}
      and courseid = #{courseid,jdbcType=INTEGER}
  </update>
</mapper>