<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yyy.mapper.ReleaseMapper" >
  <resultMap id="BaseResultMap" type="cn.yyy.pojo.Release" >
    <id column="releaseid" property="releaseid" jdbcType="INTEGER" />
    <id column="problemid" property="problemid" jdbcType="INTEGER" />
    <result column="releasetime" property="releasetime" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    releaseid, problemid, releasetime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.yyy.pojo.ReleaseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from release
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="cn.yyy.pojo.ReleaseKey" >
    select 
    <include refid="Base_Column_List" />
    from release
    where releaseid = #{releaseid,jdbcType=INTEGER}
      and problemid = #{problemid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="cn.yyy.pojo.ReleaseKey" >
    delete from release
    where releaseid = #{releaseid,jdbcType=INTEGER}
      and problemid = #{problemid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.yyy.pojo.ReleaseExample" >
    delete from release
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.yyy.pojo.Release" >
    insert into release (releaseid, problemid, releasetime
      )
    values (#{releaseid,jdbcType=INTEGER}, #{problemid,jdbcType=INTEGER}, #{releasetime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.yyy.pojo.Release" >
    insert into release
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="releaseid != null" >
        releaseid,
      </if>
      <if test="problemid != null" >
        problemid,
      </if>
      <if test="releasetime != null" >
        releasetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="releaseid != null" >
        #{releaseid,jdbcType=INTEGER},
      </if>
      <if test="problemid != null" >
        #{problemid,jdbcType=INTEGER},
      </if>
      <if test="releasetime != null" >
        #{releasetime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.yyy.pojo.ReleaseExample" resultType="java.lang.Integer" >
    select count(*) from release
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update release
    <set >
      <if test="record.releaseid != null" >
        releaseid = #{record.releaseid,jdbcType=INTEGER},
      </if>
      <if test="record.problemid != null" >
        problemid = #{record.problemid,jdbcType=INTEGER},
      </if>
      <if test="record.releasetime != null" >
        releasetime = #{record.releasetime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update release
    set releaseid = #{record.releaseid,jdbcType=INTEGER},
      problemid = #{record.problemid,jdbcType=INTEGER},
      releasetime = #{record.releasetime,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.yyy.pojo.Release" >
    update release
    <set >
      <if test="releasetime != null" >
        releasetime = #{releasetime,jdbcType=DATE},
      </if>
    </set>
    where releaseid = #{releaseid,jdbcType=INTEGER}
      and problemid = #{problemid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.yyy.pojo.Release" >
    update release
    set releasetime = #{releasetime,jdbcType=DATE}
    where releaseid = #{releaseid,jdbcType=INTEGER}
      and problemid = #{problemid,jdbcType=INTEGER}
  </update>
</mapper>